<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-info">
                    <h4 class="card-title mt-0"> Current Outbreaks</h4>
                    <p class="card-category"> across Alberta</p>
                    <ul class="nav nav-tabs" style="color: black;">
                        <li class="nav-item">
                          <button class="nav-link" [ngClass]="{'active': currentZone === 'Edmonton zone'}"  (click)="setVariable('Edmonton zone')">Edmonton</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" [ngClass]="{'active': currentZone === 'North zone'}"  (click)="setVariable('North zone')">North</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" [ngClass]="{'active': currentZone === 'Central zone'}"  (click)="setVariable('Central zone')">Central</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" [ngClass]="{'active': currentZone === 'Calgary zone'}"  (click)="setVariable('Calgary zone')">Calgary</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" [ngClass]="{'active': currentZone === 'South zone'}"  (click)="setVariable('South zone')">South</button>
                        </li>
                    </ul>

                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="">
                                <th>
                                    Zone
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Location
                                </th>
                            </thead>
                            <tbody *ngFor="let row of Repdata">
                                <tr *ngIf="row.zone == currentZone">
                                    <td>
                                        {{ row.zone }}
                                    </td>
                                    <td>
                                        {{ row.category }}
                                    </td>
                                    <td>
                                        {{ row.list_item }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

      </div>
  </div>
</div>
